* {
    font-family: arial;
}

@media screen and (max-width: 1199px) {
    #wrapper {
        width: 1000px;
    }
    #rightwrap {
        display:none;
    }
}


fieldset {
    margin: auto;
    margin-top: 3%;
    border: none;
    //margin-left:30%;
}
body {
    //background-color: #00c9ec;
    background-color: #6fc7ce;
    background-repeat: repeat;
    padding: 0;
    margin: 0;
}

header {
    height: 60px;
}

option {
    color: #14213d;
}

select {
    color: #14213d;
}

.option {
    color: #14213d;
}

nav {
    background-color: white;
    width: 100%;
    top: 0px;
    border-bottom: gray 1px solid;
}

nav ol {
    margin: 0;
    background: white;
}

nav ol li {

    font-size:1.3em;
    background-color: #fff;
    float: right;
    list-style-type: none;
    margin-left: 1em;
    margin-right: 1em;
    color: #14213d;
}

nav ol li a {
    color: #14213d;
    text-decoration: none;
    padding:5px 30px 5px 30px;
}

nav ol li:not(.login):hover {
    color: #14213d;
    text-decoration: none;
    background-color: #B5CFFE;
}

.activepage {
    background-color: #B5CFFE;
    padding:5px 30px 5px 30px;
}



label.required:after {
    color: #000;
    content: "* Required";
}

label {
    padding: 20px;
    display: block;
}


.mistake {
    color: #fff;
    background-color:#800;
    border: thin solid #000;
}

#wrapper {
    width: 1200px;
    margin: auto;
    margin-bottom: 4%
}

#rightwrap {
    border-radius: 8px;
    position: relative;
    width: 180px;
    float: right;
    background-color: #fff;
    padding: 10px;
    font-size: .9em;
    text-align: center;
    border: 1px solid #709fcf;
    box-shadow:         0px 3px 13px 0px rgba(50, 50, 50, 0.57);
}

#leftwrap {
    border-radius: 8px;
    position: absolute;
    width: 300px;
    background-color: #fff;
    padding: 10px;
    float: left;
    border: 1px solid #709fcf;
    box-shadow: 0px 3px 13px 0px rgba(50, 50, 50, 0.57);
}
#main {
    border-radius: 8px;
    width: 620px;
    left: 330px;
    background-color: #fff;
    position: relative;
    padding: 20px;
    border: 1px solid #709fcf;
    box-shadow: 0px 3px 13px 0px rgba(50, 50, 50, 0.57);
}

p {
    margin: 0;
}

footer p {
    margin: auto;
}

ol li {
    list-style: none;
    padding: 4px;

}

#rightwrap ol li {
    outline: solid 2px lightskyblue;
    width: 120px;
    padding: 0;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

#rightwrap ol{
    padding: 0;
    margin: auto;
}

#leftwrap ol {
    padding: 0;
}

#rightwrap ol li img {
    margin: auto;
    padding: 15px 25px 15px 25px;
}

#leftwrap ol li  p a {
    text-decoration: none;
    padding: 6px 70px 6px 85px;
    color: black;
}

#leftwrap ol li p{
    margin-bottom: 20px;
    //border-radius: 12px;
    //background: linear-gradient(#94E9F7, #66DFF4); 
    border: 1px solid #709fcf;
    padding: 6px 0px 6px 0px;
    color: #14213d;
    background-color: #66DFF4;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

#leftwrap ol li p:hover, #leftwrap ol li p:focus, #leftwrap ol li p:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

ol li p {
    text-align: center;
}

ol li div {
    text-align: center;
    font-size: 1.3em;
}

.Profile {

}

#popup {
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 40px;
    box-shadow: 0px 3px 13px 0px rgba(50, 50, 50, 0.57);
}

#popupcontent {
    text-align: center;
}

#bio {
    line-height: 200%;
}

article {
    border-radius: 8px;
    background-color: #fff;
    position: relative;
    padding: 20px;
    width: 900px;
    margin: auto;
    border: 1px solid #709fcf;
    box-shadow: 0px 3px 13px 0px rgba(50, 50, 50, 0.57);
}

#tray {
    float: right;
    width: 450px;
}

h1 {
    font-size: 1.5em;
}

input {
    padding: 4px;
}

.friends li {
    margin: auto;
    width: 18%;
}

.friends li {
    margin: auto;
    //border: 1px solid #709fcf;
}

.friends li a {
    text-decoration: none;
    color: #14213d;
}

#profiletop {
    width: 620px;
    height: 210px;
    margin-bottom:30px;
}

#txtdadsearch {
    width: 220px;
    padding: 6px;
    margin-right: 10px
}

#rightwrap ol li a {
    text-decoration: none;
    color: #14213d;
}

.btnDad {
    margin-bottom: 20px;
    //border-radius: 12px;
    //background: linear-gradient(#94E9F7, #66DFF4); 
    background-color: #66DFF4;
    padding: 12px 30px 12px 30px;
    color: #14213d;
    border: 1px solid #709fcf;

}


#profilePic {
    width: 205px;
    height: 205px;
    margin: 5px;
    float: left;
    padding: 5px;
}

.tab {
    margin: 3px;
    float: left;
    display: block;
    border: 1px solid #709fcf;
    text-align: center;
    background-color: #66DFF4;
    width: 160px;
    color: #14213d;
    padding: 6px 15px 6px 15px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    
}

.tab:hover, .tab:focus, .tab:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.activetab {
    margin: 3px;
    float: left;
    display: block;
    border: 1px solid #709fcf;
    padding: 0;
    text-align: center;
    background-color: #66DFF4;
    color: #14213d;
    width: 160px;
    padding: 6px 15px 6px 15px;

}


//Credit to Ian Lunn for the hover effects. The man does hover effects very well.

.tab a p {
    color: #14213d;
    width: 160px;
    //padding: 6px 15px 6px 15px;
    text-align: center;
}

.tab a {
    text-decoration: none;
    color: #14213d;
}

#namelist {
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    width: 900px;
    margin: auto;
    border: 1px solid #709fcf;
    box-shadow: 0px 3px 13px 0px rgba(50, 50, 50, 0.57);
}